@import "./src/partials/colors";


.linkButton{
    background-color: $white;
    color: $primary-normal ;
    text-decoration: none;
    border-radius: 10px;
    width: auto;
    min-width: 130px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 30px;
    white-space: nowrap;
}

.linkButton:hover{
    color: $primary-normal;
    animation: scaleButton 0.8s alternate infinite;    
}

@keyframes scaleButton{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.07);

    }
}

.linkButton .icon{
    margin-right: 10px;
    font-size: 15px;
}